uml2shacl/module/lib/src/main/resources/xsd/Logical_System_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="weakCGTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="version" type="xs:decimal"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="strongCGTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lang" type="xs:string"/>
	<xs:element name="fileName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_typeOf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_theMainDiagram">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_static">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_protection">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_otherClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IClassifierHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_navigability">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_myState">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:short">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_multiplicity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_modifiedTimeWeak">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_modifiedTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_linkType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_lastID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_itsStateChart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isReferenceAttr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isOrdered">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isConstant">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_inverse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hsubsystem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hname">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hm2Class">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hfilename">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hclass">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_displayName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_dependsOn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INObjectHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_dependent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INObjectHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_classModifier">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_base">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Stereotypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RhapsodyArchive">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MagicNumber"/>
				<xs:element ref="CODE-PAGE"/>
				<xs:element ref="version"/>
				<xs:element ref="lang"/>
				<xs:element ref="BuildNo"/>
				<xs:element ref="RMMMinimumClientVersion"/>
				<xs:element ref="RHAPSODY-MODEL"/>
				<xs:element ref="OslcLinks"/>
				<xs:element ref="INCLUDES-RHAPSODY-INDEX"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RMMMinimumClientVersion" type="xs:decimal"/>
	<xs:element name="RHAPSODY-MODEL">
		<xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:choice>
                    <xs:element ref="IClass"/>
                    <xs:element ref="IDependency"/>
                    <xs:element ref="ITag"/>
                    <xs:element ref="ILiteralSpecification"/>
                    <xs:element ref="IAttribute"/>
                    <xs:element ref="IPart"/>
                    <xs:element ref="IAssociationEnd"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
	</xs:element>
	<xs:element name="OslcLinks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagicNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ITag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_typeOf"/>
				<xs:element ref="_isOrdered"/>
				<xs:element ref="_base" minOccurs="0"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IRPYRawContainer">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="IHandle" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_multiplicity"/>
				<xs:element ref="_otherClass"/>
				<xs:element ref="_inverse"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="INObjectHandle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_hm2Class"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="_hfilename"/>
					<xs:element ref="_hsubsystem"/>
					<xs:element ref="_hname"/>
				</xs:sequence>
				<xs:element ref="_hid"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="INCLUDES-RHAPSODY-INDEX" type="xs:boolean"/>
	<xs:element name="ILiteralSpecification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_value"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IHandle">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="_hm2Class"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="_hsubsystem"/>
						<xs:element ref="_hname"/>
						<xs:element ref="_hid"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="_hfilename"/>
						<xs:element ref="_hsubsystem"/>
						<xs:element ref="_hclass" minOccurs="0"/>
						<xs:element ref="_hname"/>
						<xs:element ref="_hid"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_displayName" minOccurs="0"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_dependsOn"/>
				<xs:element ref="_dependent"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IClassifierHandle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_hm2Class"/>
				<xs:element ref="_hfilename"/>
				<xs:element ref="_hsubsystem"/>
				<xs:element ref="_hclass" minOccurs="0"/>
				<xs:element ref="_hname"/>
				<xs:element ref="_hid"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IClass">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="fileName"/>
					<xs:element ref="_id"/>
					<xs:element ref="_name" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="_id"/>
					<xs:element ref="_name"/>
					<xs:element ref="_displayName"/>
					<xs:element ref="Stereotypes"/>
					<xs:element ref="_modifiedTimeWeak"/>
					<xs:element ref="_theMainDiagram"/>
					<xs:element ref="_modifiedTime"/>
					<xs:element ref="_lastID"/>
					<xs:element ref="weakCGTime"/>
					<xs:element ref="strongCGTime"/>
					<xs:element ref="_itsStateChart"/>
					<xs:element ref="_classModifier"/>
					<xs:element ref="AggregatesList"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IAttribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_typeOf"/>
				<xs:element ref="_isOrdered"/>
				<xs:element ref="_protection"/>
				<xs:element ref="_static"/>
				<xs:element ref="_isReferenceAttr"/>
				<xs:element ref="_isConstant"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IAssociationEnd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_multiplicity"/>
				<xs:element ref="_otherClass"/>
				<xs:element ref="_inverse"/>
				<xs:element ref="_linkType"/>
				<xs:element ref="_navigability"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CODE-PAGE" type="xs:short"/>
	<xs:element name="BuildNo" type="xs:long"/>
	<xs:element name="AggregatesList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
