uml2shacl/module/lib/src/main/resources/UML_XMI/UML_XMI2.1_Schemas_TRIALS/AIS_Schemas_G2/AIS Export v1_0.xml - BPMN2.0.xsd-g2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:EAUML='http://www.sparxsystems.com/profiles/EAUML/1.0' xmlns:BPMN2.0='http://www.sparxsystems.com/profiles/BPMN2.0/1.5' xmlns:BPMN='http://www.sparxsystems.com/profiles/BPMN/1.4' xmlns:sysml='http://www.omg.org/spec/SysML/20080501/SysML-profile' xmlns:uml='http://schema.omg.org/spec/UML/2.1' xmlns:u='http://schema.omg.org/spec/UML/2.1/' xmlns:xmi='XMI.xsd' xmlns:thecustomprofile='http://www.sparxsystems.com/profiles/thecustomprofile/1.0' xmlns:EPProfile='http://www.sparxsystems.com/profiles/EPProfile/1.0' elementFormDefault='qualified' targetNamespace='http://www.sparxsystems.com/profiles/BPMN2.0/1.5'>
    <xs:import schemaLocation='XmplifyDerivedSchema.xsd'/>
    <xs:import namespace='http://schema.omg.org/spec/UML/2.1' schemaLocation='uml.xsd'/>
    <xs:import namespace='http://schema.omg.org/spec/UML/2.1/' schemaLocation='u.xsd'/>
    <xs:import namespace='XMI.xsd' schemaLocation='xmi.xsd'/>
    <xs:import namespace='http://www.omg.org/spec/SysML/20080501/SysML-profile' schemaLocation='sysml.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/BPMN/1.4' schemaLocation='BPMN.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/EAUML/1.0' schemaLocation='EAUML.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/EPProfile/1.0' schemaLocation='EPProfile.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/thecustomprofile/1.0' schemaLocation='thecustomprofile.xsd'/>
    <xs:element name='Category'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
            <xs:attribute name='documentation' use='required'/>
        </xs:complexType>
    </xs:element>
</xs:schema>