uml2shacl/module/lib/src/main/resources/UML_XMI/UML_XMI2.1_Schemas_TRIALS/AIS_Schemas_G2/AIS Export v1_0.xml - thecustomprofile.xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:EAUML='http://www.sparxsystems.com/profiles/EAUML/1.0' xmlns:BPMN2.0='http://www.sparxsystems.com/profiles/BPMN2.0/1.5' xmlns:BPMN='http://www.sparxsystems.com/profiles/BPMN/1.4' xmlns:sysml='http://www.omg.org/spec/SysML/20080501/SysML-profile' xmlns:uml='http://schema.omg.org/spec/UML/2.1' xmlns:u='http://schema.omg.org/spec/UML/2.1/' xmlns:xmi='XMI.xsd' xmlns:thecustomprofile='http://www.sparxsystems.com/profiles/thecustomprofile/1.0' xmlns:EPProfile='http://www.sparxsystems.com/profiles/EPProfile/1.0' elementFormDefault='qualified' targetNamespace='http://www.sparxsystems.com/profiles/thecustomprofile/1.0'>
    <xs:import schemaLocation='XmplifyDerivedSchema.xsd'/>
    <xs:import namespace='http://schema.omg.org/spec/UML/2.1' schemaLocation='uml.xsd'/>
    <xs:import namespace='http://schema.omg.org/spec/UML/2.1/' schemaLocation='u.xsd'/>
    <xs:import namespace='XMI.xsd' schemaLocation='xmi.xsd'/>
    <xs:import namespace='http://www.omg.org/spec/SysML/20080501/SysML-profile' schemaLocation='sysml.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/BPMN/1.4' schemaLocation='BPMN.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/BPMN2.0/1.5' schemaLocation='BPMN2.0.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/EAUML/1.0' schemaLocation='EAUML.xsd'/>
    <xs:import namespace='http://www.sparxsystems.com/profiles/EPProfile/1.0' schemaLocation='EPProfile.xsd'/>
    <xs:element name='Master'>
        <xs:complexType>
            <xs:attribute name='Master'/>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='NavigationCell'>
        <xs:complexType>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='Replicas'>
        <xs:complexType>
            <xs:attribute name='Replicas' use='required'/>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='abstract'>
        <xs:complexType>
            <xs:attribute name='base_DataType' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='asset-lifecycle'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dataType'>
        <xs:complexType>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-accuracy'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-completeness'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-control'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-format'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-resolution'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-timeliness'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-traceability'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-uniqueness'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-uom'>
        <xs:complexType>
            <xs:attribute name='base_Association'/>
            <xs:attribute name='base_Property'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-validlength'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-validrange'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='dqc-verifiability'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='exemptions'>
        <xs:complexType>
            <xs:attribute name='base_Class'/>
            <xs:attribute name='base_Property'/>
            <xs:attribute name='exemptions' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='instance'>
        <xs:complexType>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='metadata'>
        <xs:complexType>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='nk'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='pk'>
        <xs:complexType>
            <xs:attribute name='base_Property' use='required'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='reference'>
        <xs:complexType>
            <xs:attribute name='base_Class' use='required'/>
        </xs:complexType>
    </xs:element>
</xs:schema>