rhapsody/module/lib/src/main/resources/xsd/Union.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="m_hReferencedDiagram">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_lastModifiedTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>	
<xs:element name="m_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_style">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_position">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_pRoot">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_pParent">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_pModelObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_name">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="CGIText" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_nOrientationCtrlPt">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_nModifyDate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_nIdent">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_nCreateDate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_modified">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_fgColor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_drawBehavior">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_currentRightBottom">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_currentLeftTop">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="IColor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m_fgColor"/>
				<xs:element ref="m_bgColor"/>
				<xs:element ref="m_bgFlag"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
			<xs:element name="m_displayOption">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_str">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIText">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="m_str" minOccurs="0"/>
				<xs:element ref="m_style"/>
				<xs:element ref="m_color"/>
				<xs:element ref="m_position"/>
				<xs:element ref="m_nIdent"/>
				<xs:element ref="m_bImplicitSetRectPoints"/>
				<xs:element ref="m_transform" />
				<xs:sequence minOccurs="0">
					<xs:element ref="m_nHorizontalSpacing" minOccurs="0"/>
					<xs:element ref="m_nVerticalSpacing"/>
				</xs:sequence>
				<xs:element ref="m_nOrientationCtrlPt"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_iTempdisplayTextFlag">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>	
		<xs:element name="m_bIsBoxStyle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="Items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CGIAnnotation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_AdditionalLabel"/>
				<xs:element ref="m_polygon"/>
				<xs:element ref="m_nNameFormat"/>
				<xs:element ref="m_nIsNameFormat"/>
				<xs:element ref="_iTempdisplayTextFlag"/>
				<xs:element ref="m_bIsBoxStyle"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="CGIGenericElement">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_AdditionalLabel"/>
				<xs:element ref="m_polygon"/>
				<xs:element ref="m_nNameFormat"/>
				<xs:element ref="m_nIsNameFormat"/>
				<xs:element ref="frameset"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_properties"/>
				<xs:element ref="m_csContext"/>
				<xs:element ref="m_bIsStructured"/>
				<xs:element ref="m_csPartsArray"/>
				<xs:element ref="m_bIsMisplaced"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CGICompartment">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_displayOption"/>
				<xs:element ref="m_bShowInherited"/>
				<xs:element ref="m_bOrdered"/>
				
					<xs:element ref="_itemValueOfFontPropertiesMapCount"/>
					<xs:element ref="_fontPropValues" maxOccurs="unbounded"/>
					<xs:element ref="Items"/>
					<xs:element ref="_rmmServerID"/>
				</xs:choice>
			
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	
	
	<xs:element name="m_color">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IColor"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bgFlag">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bgColor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bScaleWithZoom">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bIsPreferencesInitialized">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bImplicitSetRectPoints">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bFreezeCompartmentContent">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_arrowStyle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_access">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="elementList">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="IComment">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_description"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_defaultSubsystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>	
	
	
	<xs:element name="_properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IPropertyContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_Value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_rmmServerID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_Type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_Name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Metaclasses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="IPropertySubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_Name"/>
				<xs:element ref="Metaclasses"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPropertyMetaclass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_Name"/>
				<xs:element ref="Properties"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPropertyContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Subjects"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_ExtraTypeInfo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IProperty">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_Name"/>
				<xs:element ref="_Value"/>
				<xs:element ref="_Type"/>
				<xs:element ref="_ExtraTypeInfo" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="IMSC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fileName"/>
				<xs:element ref="_id"/>
				<xs:element ref="_name"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="isConfigurationFileHyperLink">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_transform">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="_linkTarget">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_linkDispName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="m_SubType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIPortConnector">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_properties" minOccurs="0"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_AdditionalLabel"/>
				<xs:element ref="m_position"/>
				<xs:element ref="m_pInheritsFrom"/>
				<xs:element ref="m_nInheritanceMask"/>
				<xs:element ref="m_SubType"/>
				<xs:element ref="m_providedInterfaceLabel"/>
				<xs:element ref="m_requiredInterfaceLabel"/>
				<xs:element ref="m_bVisible"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CGIDiagramFrame">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_properties"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_AdditionalLabel"/>
				<xs:element ref="m_polygon"/>
				<xs:element ref="m_nNameFormat"/>
				<xs:element ref="m_nIsNameFormat"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="m_bVisible"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IMHyperLink">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_dependsOn"/>
				<xs:element ref="_linkDispName"/>
				<xs:element ref="_linkType"/>
				<xs:element ref="_linkTarget"/>
				<xs:element ref="isConfigurationFileHyperLink"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_description"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="_textRTF">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_text">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDescription"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDescription">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_textRTF"/>
				<xs:element ref="_text"/>
				<xs:element ref="Hyperlinks"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="AggregatesList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="size">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildNo" type="xs:long"/>
	<xs:element name="CODE-PAGE" type="xs:short"/>
	<xs:element name="Conveyed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="Associations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="IAssociationEnd">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes" minOccurs="0"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_multiplicity"/>
				<xs:element ref="_otherClass"/>
				<xs:element ref="_inverse"/>
				<xs:element ref="_linkType"/>
				<xs:element ref="_navigability"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IDiagram">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_properties"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_lastModifiedTime"/>
				<xs:element ref="m_hReferencedDiagram"/>
				<xs:element ref="_defaultSubsystem"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="_description"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IAttribute">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_description"/>
						<xs:element ref="Stereotypes"/>
						<xs:element ref="_modifiedTimeWeak"/>
						<xs:element ref="_modifiedTime"/>
						<xs:element ref="_typeOf"/>
						<xs:element ref="_isOrdered"/>
						<xs:element ref="_protection"/>
						<xs:element ref="_static"/>
						<xs:element ref="_isReferenceAttr"/>
						<xs:element ref="_isConstant"/>
						<xs:element ref="AggregatesList"/>
						<xs:element ref="_displayName"/>
						<xs:element ref="_lastID" minOccurs="0"/>
						<xs:element ref="_rmmServerID"/>
						<xs:element ref="OwnedDependencies"/>
						<xs:element ref="Tags"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IClass">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_name"/>
				<xs:element ref="_description"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_theMainDiagram"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_lastID"/>
				<xs:element ref="weakCGTime"/>
				<xs:element ref="strongCGTime"/>
				<xs:element ref="_itsStateChart"/>
				<xs:element ref="_classModifier"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_myState"/>
				<xs:element ref="OwnedDependencies"/>
				<xs:element ref="fileName"/>
				<xs:element ref="Associations"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="_properties"/>
				<xs:element ref="Ports"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IClassifierHandle">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_hm2Class"/>
						<xs:element ref="_hfilename"/>
						<xs:element ref="_hsubsystem"/>
						<xs:element ref="_hclass" minOccurs="0"/>
						<xs:element ref="_hname"/>
						<xs:element ref="_hid"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDependency">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_dependsOn"/>
				<xs:element ref="_dependent"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_defNumber">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_version">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_baseVersion">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_diagram">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="IStateChart">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_lastID"/>
				<xs:element ref="weakCGTime"/>
				<xs:element ref="strongCGTime"/>
				<xs:element ref="_itsStateChart"/>
				<xs:element ref="_classModifier"/>
				<xs:element ref="_defNumber"/>
				<xs:element ref="_version"/>
				<xs:element ref="_baseVersion"/>
				<xs:element ref="_diagram"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="Transitions"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IGeneralization">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_dependsOn"/>
				<xs:element ref="_inheritanceType"/>
				<xs:element ref="_isVirtual"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IHandle">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_hm2Class"/>
				<xs:choice maxOccurs="unbounded">
						<xs:element ref="_hfilename"/>
						<xs:element ref="_hsubsystem"/>
						<xs:element ref="_hclass" minOccurs="0"/>
						<xs:element ref="_hname"/>
						<xs:element ref="_hid"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="IInformationFlow">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="Conveyed"/>
				<xs:element ref="_myState"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="end1_"/>
				<xs:element ref="end2_"/>
				<xs:element ref="direction_"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="end1ObjectPort_"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ILiteralSpecification">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_value"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="INCLUDES-RHAPSODY-INDEX" type="xs:boolean"/>
	<xs:element name="INObjectHandle">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_hm2Class"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="_hfilename"/>
						<xs:element ref="_hsubsystem"/>
						<xs:element ref="_hclass" minOccurs="0"/>
						<xs:element ref="_hname"/>
						<xs:element ref="_hid"/>
					</xs:sequence>
					<xs:element ref="_hid"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPart">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_multiplicity"/>
				<xs:element ref="_otherClass"/>
				<xs:element ref="_inverse"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="AggregatesList" minOccurs="0"/>
				<xs:element ref="fileName"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPort">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_multiplicity"/>
				<xs:element ref="_otherClass"/>
				<xs:element ref="_inverse"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IRPYRawContainer">
		<xs:complexType>
							<xs:choice maxOccurs="unbounded">
				<xs:element ref="size" minOccurs="0"/>
				<xs:element ref="IHandle" minOccurs="0"/>
				<xs:element ref="IProperty" maxOccurs="unbounded"/>
				<xs:element ref="IPropertyMetaclass"/>
				<xs:element ref="IPropertySubject"/>
				<xs:element ref="IInternalHyperlink"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>

			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISysMLPort">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_multiplicity"/>
				<xs:element ref="_otherClass"/>
				<xs:element ref="_inverse"/>
				<xs:element ref="_implicitClass"/>
				<xs:element ref="_direction"/>
				<xs:element ref="_description"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="_lastID"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITag">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_typeOf"/>
				<xs:element ref="_isOrdered"/>
				<xs:element ref="_rmmServerID"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="_multiplicity"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="_base" minOccurs="0"/>
					<xs:element ref="AggregatesList"/>
				</xs:choice>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IStateChartDiagram">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_properties"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_lastModifiedTime"/>
				<xs:element ref="m_hReferencedDiagram"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_displayName"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagicNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OslcLinks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OwnedDependencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="Operations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_AdditionalLabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_nNameFormat">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_nIsNameFormat">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bFramesetModified">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="frameset">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_anglePoint1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_anglePoint2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_ShowName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_ShowStereotype">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_SourcePort">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_TargetPort">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_arrow">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_polygon">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIImageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_dataSize"/>
				<xs:element ref="m_data"/>
				<xs:element ref="m_srcFile"/>
				<xs:element ref="m_fileModifiedTime"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIObjectInstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_AdditionalLabel"/>
				<xs:element ref="m_polygon"/>
				<xs:element ref="m_nNameFormat"/>
				<xs:element ref="m_nIsNameFormat"/>
				<xs:element ref="Attrs"/>
				<xs:element ref="Operations"/>
				<xs:element ref="m_multiplicity"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CGIClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:choice maxOccurs="unbounded">
						<xs:element ref="m_type"/>
						<xs:element ref="m_pModelObject"/>
						<xs:element ref="m_pParent"/>
						<xs:element ref="m_name"/>
						<xs:element ref="m_drawBehavior"/>
								<xs:element ref="m_transform"/>
								<xs:element ref="m_bIsPreferencesInitialized"/>
								<xs:element ref="m_AdditionalLabel"/>
								<xs:element ref="m_polygon"/>
								<xs:element ref="m_nNameFormat"/>
								<xs:element ref="m_nIsNameFormat"/>
								<xs:element ref="frameset"/>
								<xs:element ref="Attrs"/>
								<xs:element ref="Operations"/>
								<xs:element ref="AggregatesList"/>
						<xs:element ref="_properties"/>
						<xs:element ref="m_bFramesetModified" minOccurs="0"/>
						<xs:element ref="_rmmServerID"/>
						<xs:element ref="m_bIsMisplaced"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Attrs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_conveyed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_itsTarget">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bShowKeyword">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_itsSource">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_staticReaction">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIState">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
						<xs:element ref="m_transform"/>
						<xs:element ref="m_bIsPreferencesInitialized"/>
						<xs:element ref="m_AdditionalLabel"/>
						<xs:element ref="m_polygon"/>
						<xs:element ref="m_nNameFormat"/>
						<xs:element ref="m_nIsNameFormat"/>
						<xs:element ref="frameset" minOccurs="0"/>
						<xs:element ref="nAndLineCount"/>
						<xs:element ref="m_pInheritsFrom"/>
						<xs:element ref="m_nInheritanceMask"/>
						<xs:element ref="m_pDefaultComponentRelation"/>
						<xs:element ref="AggregatesList"/>
						<xs:element ref="_properties"/>
						<xs:element ref="m_moveAndLineTimeStamp"/>
						<xs:element ref="andLinePoly"/>
						<xs:element ref="m_pVirtualParent"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIStateChart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="elementList"/>
				<xs:element ref="m_access"/>
				<xs:element ref="m_modified"/>
				<xs:element ref="m_nModifyDate"/>
				<xs:element ref="m_nCreateDate"/>
				<xs:element ref="m_bScaleWithZoom"/>
				<xs:element ref="m_arrowStyle"/>
				<xs:element ref="m_pRoot"/>
				<xs:element ref="m_currentLeftTop"/>
				<xs:element ref="m_currentRightBottom"/>
				<xs:element ref="m_bFreezeCompartmentContent"/>
				<xs:element ref="m_pInheritsFrom"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIClassChart">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="elementList"/>
				<xs:element ref="m_access"/>
				<xs:element ref="m_modified"/>
				<xs:element ref="m_nModifyDate"/>
				<xs:element ref="m_nCreateDate"/>
				<xs:element ref="m_bScaleWithZoom"/>
				<xs:element ref="m_arrowStyle"/>
				<xs:element ref="m_pRoot"/>
				<xs:element ref="m_currentLeftTop"/>
				<xs:element ref="m_currentRightBottom"/>
				<xs:element ref="m_bFreezeCompartmentContent"/>
				<xs:element ref="AggregatesList"/>
				<xs:element ref="_rmmServerID"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIImage">
		<xs:complexType>
			<xs:choice	maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_pImageViewData"/>
				<xs:element ref="m_points"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIInheritance">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_properties"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_pSource"/>
				<xs:element ref="m_sourceType"/>
				<xs:element ref="m_pTarget"/>
				<xs:element ref="m_targetType"/>
				<xs:element ref="m_direction"/>
				<xs:element ref="m_rpn"/>
				<xs:element ref="m_arrow" minOccurs="0"/>
				<xs:element ref="m_anglePoint1"/>
				<xs:element ref="m_anglePoint2"/>
				<xs:element ref="m_line_style"/>
				<xs:element ref="m_SourcePort"/>
				<xs:element ref="m_TargetPort"/>
				<xs:element ref="m_ShowName"/>
				<xs:element ref="m_ShowStereotype"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGITrans">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_pSource"/>
				<xs:element ref="m_sourceType"/>
				<xs:element ref="m_pTarget"/>
				<xs:element ref="m_targetType"/>
				<xs:element ref="m_direction"/>
				<xs:element ref="m_rpn"/>
				<xs:element ref="m_anglePoint1"/>
				<xs:element ref="m_anglePoint2"/>
				<xs:element ref="m_line_style"/>
				<xs:element ref="m_SourcePort"/>
				<xs:element ref="m_TargetPort"/>
				<xs:element ref="m_pInheritsFrom"/>
				<xs:element ref="m_nInheritanceMask"/>
				<xs:element ref="m_bShowName"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIInformationFlow">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_pSource"/>
				<xs:element ref="m_sourceType"/>
				<xs:element ref="m_pTarget"/>
				<xs:element ref="m_targetType"/>
				<xs:element ref="m_direction"/>
				<xs:element ref="m_rpn"/>
				<xs:element ref="m_anglePoint1"/>
				<xs:element ref="m_anglePoint2"/>
				<xs:element ref="m_line_style"/>
				<xs:element ref="m_SourcePort"/>
				<xs:element ref="m_TargetPort"/>
				<xs:element ref="m_bShowKeyword"/>
				<xs:element ref="m_showConveyed"/>
				<xs:element ref="m_keyword"/>
				<xs:element ref="m_conveyed"/>
				<xs:element ref="m_flow_direction"/>
				<xs:element ref="m_arrow"/>
				<xs:element ref="_properties"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="ITransition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_itsTarget"/>
				<xs:element ref="_staticReaction"/>
				<xs:element ref="_itsSource"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="ILabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_itsTrigger"/>
				<xs:element ref="_itsGuard"/>
				<xs:element ref="_itsAction"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RHAPSODY-MODEL">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="IClass"/>
				<xs:element ref="IAssociationEnd"/>
				<xs:element ref="IAttribute"/>
				<xs:element ref="IDependency"/>
				<xs:element ref="IGeneralization"/>
				<xs:element ref="IInformationFlow"/>
				<xs:element ref="ILiteralSpecification"/>
				<xs:element ref="IPart"/>
				<xs:element ref="IPort"/>
				<xs:element ref="ISysMLPort"/>
				<xs:element ref="ITag"/>
				<xs:element ref="IMHyperLink"/>
				<xs:element ref="IDiagram"/>
				<xs:element ref="IComment"/>
				<xs:element ref="IStateChart"/>
				<xs:element ref="IStateChartDiagram"/>
				<xs:element ref="ITransition"/>
				<xs:element ref="ILabel"/>
				<xs:element ref="IState"/>
				<xs:element ref="IFork"/>
				<xs:element ref="IDefaultDrvdTrans"/>
				<xs:element ref="IConstraint"/>
				<xs:element ref="IAnchor"/>
				<xs:element ref="IInformationItem"/>
				<xs:element ref="IMSC"/>
				<xs:element ref="CGIClassChart"/>
				<xs:element ref="CGIClass"/>
				<xs:element ref="CGIDiagramFrame"/>
				<xs:element ref="CGIImageData"/>
				<xs:element ref="CGIImage"/>
				<xs:element ref="CGICompartment"/>
				<xs:element ref="CGIPortConnector"/>
				<xs:element ref="CGIAnnotation"/>
				<xs:element ref="CGIInheritance"/>
				<xs:element ref="CGIInformationFlow"/>
				<xs:element ref="CGIGenericElement"/>
				<xs:element ref="CGIStateChart"/>
				<xs:element ref="CGIState"/>
				<xs:element ref="CGITrans"/>
				<xs:element ref="CGIObjectInstance"/>
				<xs:element ref="CGIConnector"/>
				<xs:element ref="CGIAssociationEnd"/>
				<xs:element ref="IInstanceValue"/>
				<xs:element ref="IType"/>
				
				
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="RMMMinimumClientVersion" type="xs:decimal"/>
	<xs:element name="RhapsodyArchive">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MagicNumber"/>
				<xs:element ref="CODE-PAGE"/>
				<xs:element ref="version"/>
				<xs:element ref="lang"/>
				<xs:element ref="BuildNo"/>
				<xs:element ref="RMMMinimumClientVersion" minOccurs="0"/>
				<xs:element ref="RHAPSODY-MODEL"/>
				<xs:element ref="OslcLinks"/>
				<xs:element ref="INCLUDES-RHAPSODY-INDEX"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IState">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:choice maxOccurs="unbounded">
					
						<xs:element ref="_name"/>
								<xs:element ref="Stereotypes"/>
								<xs:element ref="_modifiedTimeWeak"/>
								<xs:element ref="_description"/>
								<xs:element ref="_displayName"/>
						<xs:element ref="_modifiedTime"/>
						<xs:element ref="_parent"/>
						<xs:element ref="_defaultTrans"/>
						<xs:element ref="AggregatesList"/>
						<xs:element ref="_myState"/>
						<xs:element ref="_stateType"/>
				</xs:choice>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Stereotypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_base">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_classModifier">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_dependent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INObjectHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_dependsOn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INObjectHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_direction">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_displayName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hclass">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hfilename">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hm2Class">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hname">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_hsubsystem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_implicitClass">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="IClass"/>
				<xs:element ref="ISysMLPort"/>
				<xs:element ref="ITag"/>
				<xs:element ref="ILiteralSpecification"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_inheritanceType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_inverse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isConstant">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isOrdered">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isReferenceAttr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_isVirtual">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_itsStateChart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_lastID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_linkType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_modifiedTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_modifiedTimeWeak">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_multiplicity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_myState">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:short">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_navigability">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_otherClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IClassifierHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_protection">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_static">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="_theMainDiagram">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_typeOf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_value">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="IHandle" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="direction_">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="end1_">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="end2_">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fileName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lang" type="xs:string"/>
	<xs:element name="strongCGTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="weakCGTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="m_data">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_dataSize">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:int">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_direction">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_fileModifiedTime">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_flow_direction">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_keyword">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_line_style">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	
	<xs:element name="m_nHorizontalSpacing">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_nInheritanceMask">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="m_nVerticalSpacing">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_pImageViewData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_pInheritsFrom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_pSource">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_pTarget">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_points">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_providedInterfaceLabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_requiredInterfaceLabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_rpn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_showConveyed">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_sourceType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_srcFile">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_targetType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bOrdered">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="m_bShowInherited">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="_itemValueOfFontPropertiesMapCount">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_fontPropValues">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_itsAction" type="xs:string"/>
	<xs:element name="_itsGuard" type="xs:string"/>
<xs:element name="_itsTrigger" type="xs:string"/>
	<xs:element name="_parent">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

			<xs:element name="_defaultTrans">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hyperlinks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IInternalHyperlink">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_name"/>
				<xs:element ref="_textType"/>
				<xs:element ref="_target"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_target">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="_textType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="nAndLineCount">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_pDefaultComponentRelation">
		<xs:complexType>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bShowName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_multiplicity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_csContext">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bIsStructured">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_csPartsArray">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="Ports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IConstraint">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_body"/>
				<xs:element ref="_displayName"/>
				<xs:element ref="_lastID"/>
				<xs:element ref="AggregatesList"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_body">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="IDefaultDrvdTrans">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_errorStatus"/>
				<xs:element ref="_itsTarget"/>
				<xs:element ref="_staticReaction"/>
				<xs:element ref="_itsSource"/>
				<xs:element ref="_ofState"/>
				<xs:element ref="AggregatesList"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_errorStatus">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_ofState">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="IFork">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="Stereotypes"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_parent"/>
				<xs:element ref="_connectorType"/>
			
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_connectorType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIConnector">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_transform"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_position"/>
				<xs:element ref="m_pInheritsFrom"/>
				<xs:element ref="m_nInheritanceMask"/>
				<xs:element ref="m_SubType"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="Tags">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bVisible">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IObjectLinkHandle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_pInstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IObjectLinkHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_pInverseInstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IObjectLinkHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IAssociationEndHandle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_hm2Class"/>
				<xs:element ref="_hfilename"/>
				<xs:element ref="_hsubsystem"/>
				<xs:element ref="_hclass"/>
				<xs:element ref="_hname"/>
				<xs:element ref="_hid"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_pInverseModelObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IAssociationEndHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bShowSourceMultiplicity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowSourceRole">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowSpecificType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowTargetMultiplicity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowTargetRole">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowLinkName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowQualifier1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bShowQualifier2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_bInstance">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_sourceMultiplicity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_sourceQualifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_sourceRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_specificType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_targetMultiplicity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_targetQualifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m_targetRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CGIText"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="CGIAssociationEnd">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="_id"/>
				<xs:element ref="m_type"/>
				<xs:element ref="m_pModelObject"/>
				<xs:element ref="m_pParent"/>
				<xs:element ref="m_name"/>
				<xs:element ref="m_drawBehavior"/>
				<xs:element ref="m_bIsPreferencesInitialized"/>
				<xs:element ref="m_pSource"/>
				<xs:element ref="m_sourceType"/>
				<xs:element ref="m_pTarget"/>
				<xs:element ref="m_targetType"/>
				<xs:element ref="m_direction"/>
				<xs:element ref="m_rpn"/>
				<xs:element ref="m_anglePoint1"/>
				<xs:element ref="m_anglePoint2"/>
				<xs:element ref="m_line_style"/>
				<xs:element ref="m_SourcePort"/>
				<xs:element ref="m_TargetPort"/>
				<xs:element ref="m_pInverseModelObject"/>
				<xs:element ref="m_pInstance"/>
				<xs:element ref="m_pInverseInstance"/>
				<xs:element ref="m_bShowSourceMultiplicity"/>
				<xs:element ref="m_bShowSourceRole"/>
				<xs:element ref="m_bShowTargetMultiplicity"/>
				<xs:element ref="m_bShowTargetRole"/>
				<xs:element ref="m_bShowLinkName"/>
				<xs:element ref="m_bShowSpecificType"/>
				<xs:element ref="m_bInstance"/>
				<xs:element ref="m_bShowQualifier1"/>
				<xs:element ref="m_bShowQualifier2"/>
				<xs:element ref="m_sourceRole"/>
				<xs:element ref="m_targetRole"/>
				<xs:element ref="m_sourceMultiplicity"/>
				<xs:element ref="m_targetMultiplicity"/>
				<xs:element ref="m_sourceQualifier"/>
				<xs:element ref="m_targetQualifier"/>
				<xs:element ref="m_specificType"/>
				<xs:element ref="_properties"/>
				<xs:element ref="m_arrow"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_bIsMisplaced">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="IAnchor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_dependsOn"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_moveAndLineTimeStamp">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IInformationItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_name"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_stateType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="andLinePoly">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="m_pVirtualParent">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="Transitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IRPYRawContainer"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="end1ObjectPort_">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IHandle"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IInstanceValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_value"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="IType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_id"/>
				<xs:element ref="_myState"/>
				<xs:element ref="_modifiedTimeWeak"/>
				<xs:element ref="_modifiedTime"/>
				<xs:element ref="_declaration"/>
				<xs:element ref="_kind"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
		<xs:element name="_declaration">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="_kind">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>